:root {
  --black-color: #151515;
  --gray-color: #f0f0f0;
  --light-gray-color: #d1d1d1;
  --violet-color: #a59dff;
  --background-color: #fafafa;
  --primary-font-color: #151515;
  --secondary-font-color: #8977f3;
  --light-font-color: #f3f3f3;
}
